@use '../../App.scss';

.flex {
    display: flex;
}

.auth {
    display: flex;
    flex-direction: column;
    @include App.contentCard(100vh, 450px, 15% 50px, $br: 0px);
    label {
        margin: 20px 0 10px 0;
        color: var(--text-color);
    }
    span {
        color: red;
    }
}

.iconInput {
    position: relative;
    height: 50px;
    input {
        position: relative;
        color: var(--text-color);
        width: 100%;
        font-size: 15px;
        padding: 14px 20px;
        background-color: var(--body-color);
        border-radius: 10px;
        border: none;
    }
    svg {
        position: absolute;
        top: 50%;
        transform: translateY(-60%);
        right: 15px;
        color: var(--text-color);
        cursor: pointer;
        &.isClose {
            display: none;
        }
    }
}

.authBtn {
    background-color: var(--purple-color);
    border-radius: 10px;
    padding: 14px 0;
    color: white;
    @include App.flexPos(center, null);
    margin: 40px 0;
    &:hover {
        filter: brightness(1.2);
    }
}

.authSwitch{
    @include App.flexPos(center, null);
    span {
        color: var(--purple-color);
        margin-left: 10px;
        cursor: pointer;
    }
}

.mainPageBg{
    width: calc(100%);
    @include App.flexPos(center, center);
}

@include App.mobile-screen480{

    .auth{
        width: 100%;
        padding: 170px 60px;
        label {
            margin: 10px 0;
        }
    }

    .mainPageBg{
        display: none;
    }

    .iconInput{
        input{
            font-size: 15px;
            padding: 12px 15px;
        }
        svg{
            top: 42%;
        }
    }

    .authBtn {
        padding: 12px 0;
        margin: 15px 0;
    }
}

.testacc{
    margin-top: 35px;
    font-size: 16px;
    text-align: center;
}

@include App.mobile-screen430{

    .auth{
        width: 100%;
        padding: 170px 60px;
        label {
            margin: 10px 0;
        }
    }

    .mainPageBg{
        display: none;
    }

    .iconInput{
        input{
            font-size: 15px;
            padding: 12px 15px;
        }
        svg{
            top: 42%;
        }
    }
    .authBtn {
        padding: 12px 0;
        margin: 15px 0;
    }
    .testacc{
        font-size: 13px;
    }
}