@use '../../App';

.flex {
    display: flex;
    .recordList {
        width: calc(100% - 250px);
        transition: var(--tran-05);
        padding: 35px 10px;
    }
}

.top {
    margin-bottom: 20px;
    @include App.flexPos(space-between, center);
    .title {
        font-size: 24px;
        color: var(--text-color);
    }
}

.search {
    @include App.contentCard(40px, 230px, 0 18px);
    margin-right: 20px;
    @include App.flexPos(space-between, center);
    input {
        border: 0;
        font-size: 16px;
        outline: 0;
        background-color: transparent;
        color: var(--text-color);
        &::placeholder {
            color: var(--textOff-color)
        }
    }
    svg {
        color: var(--text-color);
        cursor: pointer;
    }
}

// top btn
.topBtn {
    display: flex;
    .newRecord {
        display: flex;
        background-color: var(--purple-color);
        padding: 10px;
        border-radius: 5px 0px 0px 5px;
        cursor: pointer;
        .icon {
            margin-right: 8px;
        }
    }
    .dropDownBtn {
        padding: 7px;
        background-color: var(--purple-color);
        border-radius: 0 5px 5px 0;
        position: relative;
        cursor: pointer;
    }
}

.btnDis {
    display: none;
}

.topBtn svg,
.newRecord span {
    color: white;
}

.newRecord,
.dropDownBtn {
    &:hover{
        filter: brightness(1.5);
    }
}

// dropdownItems.
.dropDown {
    position: absolute;
    width: 173px;
    top: 74px;
    border: solid 1px rgba(0, 0, 0, 0.1);
    transform-origin: top;
    transition: var(--tran-02);    
    color: var(--text-color);
    z-index: 1;
    .item {
        padding: 10px;
        cursor: pointer;
        background-color: var(--card-color);
        text-align: center;
        display: block;
        &:hover {
            filter: brightness(0.9);
        }
    }
}

// recordPages

.recordPages {
    height: 40px;
    width: 100%;
    @include App.flexPos(center, center);
    div {
        margin: 0 5px;
        color: var(--purple-color);
    }
    svg {
        cursor: pointer;
        color: var(--purple-color);
    }
}

.pageItem {
    border: solid 2px var(--purple-color);
    padding: 0 6px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    &.active, &:hover {
        background-color: var(--purple-color);
        color: var(--card-color);
    }
}

@include App.mobile-screen480{
    .flex{
        display: block;
        .title{
            display: none;
        }
        .recordList{
            width: 100%;
        }
        .flex{
            display: flex;
            justify-content: space-around;
        }
    }
    .search{
        width: 100%;
    }
    .top{
        display: block;
        margin-bottom: 0;
    }
    .topBtn{
        .newRecord{
            span{
                display: none;
            }
        }
    }
    .dropDown{
        width: 160px;
        top: 145px;
        right: 20px;
    }
}

@include App.mobile-screen430{
    .flex{
        display: block;
        .title{
            display: none;
        }
        .recordList{
            width: 100%;
        }
        .flex{
            display: flex;
            justify-content: space-around;
        }
    }
    .search{
        width: 100%;
    }
    .top{
        display: block;
        margin-bottom: 0;
    }
    .topBtn{
        .newRecord{
            span{
                display: none;
            }
        }
    }
    .dropDown{
        width: 160px;
        top: 145px;
        right: 20px;
    }
}