@use '../../../App';
.dropdownList {
    position: relative;
}

.dropdownBtn {
    display: flex;
    font-size: 15px;
    padding: 5px 10px;
    background-color: var(--card-color);
    border-radius: 5px;
    width: 150px;
    justify-content: space-between;
    color: var(--text-color);
    cursor: pointer;
}

.content {
    position: absolute;
    width: 100%;
    top: 100%;
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transform-origin: top;
    display: none;
    transition: var(--tran-02);
    &.active {
        display: block;
    }
    .item {
        color: var(--text-color);
        padding: 5px 10px;
        background-color: var(--body-color);
        &:hover {
            background-color: var(--card-color);
        }
    }
}

@include App.mobile-screen480{
    .dropdownBtn{
        width: 110px;
    }
}

@include App.mobile-screen430{
    .dropdownBtn{
        font-size: 13px;
        width: 100px;
    }
}